**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.sqlite3-journal
**/.pytest_cache
**/.mypy_cache

# virtualenv
backend/.venv

# node
**/node_modules

# build artifacts
frontend/client/dist

# git
.git
